.seccion{
    background: white;
    width: 4%;
    padding: 5rem 8rem 1rem 1rem;
    box-shadow: 0 5px 10px #6C3E8D;
    border-radius: .5rem;

}
.seccion:hover{
    background: #F5E6FF;
}
.seccion__hobbies{
    background: white;
    padding: 6rem 8rem 0 .5rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 5px 10px #6C3E8D;
    border-radius: .5rem;
    width: 6%;
}
.seccion__hobbies:hover{
    background: #F5E6FF;
}