.sobremi{
    background: #E9E3FF;
    padding: 5rem 5rem 5rem 5rem;
    transition: background 3s;
}
.sobremi:hover{
    background: #FFD9F5;
}
@media screen and (max-width: 450px) {
    .sobremi__mi{
        padding: 1rem;
    }
    
}